@model MVCSlider.Models.Questions


@{
    Layout = "~/Views/Shared/_LayoutWithSummerNoteEditor.cshtml";
}


<style type="text/css">
    #frmContent div {
        padding-bottom: 5px;
    }

    #frmContent .validate {
        color: red;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnSave").click(function () {

            var response = true;
            $("#ValidationSummary").html("");
            $("#ValidationSummary").append("<ul>");

            //if ($("#youTubeUrl").val().trim() == "") {
            //    $("#ValidationSummary").append("<li>Enter Valid Youtube Url, please check...</li>");
            //    response = false;
            //}

            $("#questionText").val($("#questionTextSummerNote").summernote('code'));
            //if ($("#questionText").val().trim() == "") {
            //    $("#ValidationSummary").append("<li>Enter Question Text...</li>");
            //    response = false;
            //}
            if ($("#ContentFile")[0].files.length < 1) {
                $("#ValidationSummary").append("<li>Please select Video...</li>");
                response = false;
            }
            //if ($("#QuestionDiagram")[0].files.length < 1) {
            //    $("#ValidationSummary").append("<li>Please Select Question Diagram...</li>");
            //    response = false;
            //}
            if ($("#PaperYear") && $("#PaperYear").val().trim() == "") {
                $("#ValidationSummary").append("<li>Please Enter Paper Year...</li>");
                response = false;
            }
            //if ($("#ContentFile")[0].files.length > 5) {
            //    $("#ValidationSummary").append("<li>Files count can not exceed 5 at a time, please check...</li>");
            //    response = false;
            //}


            //if ($("#ContentFile")[0].files.length > 0) {
            //    var totalFilesSize = 0;
            //    var isNotjpgfile = false;
            //    $.each($("#ContentFile")[0].files, function (index, fileObject) {

            //        if (fileObject.type != "image/jpeg") {
            //            isNotjpgfile = true;
            //        }

            //        totalFilesSize = totalFilesSize + fileObject.size;
            //    });

            //    if (totalFilesSize > 0) {

            //        if (isNotjpgfile == true) {
            //            $("#ValidationSummary").append("<li>One or more file(s) are of invalid types. The only type acceptable is [.jpg], please check...</li>");
            //            response = false;
            //        }

            //        if (totalFilesSize > (8 * 1024 * 1024)) {
            //            $("#ValidationSummary").append("<li>Files size limit is 8 MB, please check...</li>");
            //            response = false;
            //        }

            //    }
            //}

            //if ($("#ContentFile")[0].files.length == 0) {
            //    $("#ValidationSummary").append("<li>Please select content files to load...</li>");
            //    response = false;
            //}

            $("#ValidationSummary").append("</ul>");
            if (!response) {
                $(window).scrollTop(0);
            }
            return response;
        });


        $('.summernote').summernote({
            height: 200,
            //toolbar: [
            //['style', ['style']],
            //['font', ['bold', 'italic', 'underline', 'clear']],
            //['fontname', ['fontname']],
            //['color', ['color']],
            //['para', ['ul', 'ol', 'paragraph']],
            //['height', ['height']],
            //['table', ['table']],
            //['insert', ['link', 'picture', 'hr']],
            //['view', ['fullscreen', 'codeview', 'help']]

            //]
        });

    });

</script>

<form id="frmContent" method="post" action="ChapterQuetionsEdit" enctype="multipart/form-data">

    <div>
        <input type="hidden" name="SubjectChapterID" value="@ViewBag.SubjectsChaptersID" />
    </div>
    <div>
        <input type="hidden" name="QuestionID" value="@Model.QuestionID" />
    </div>
    <div>
        <input type="hidden" name="ChapterName" value="@ViewBag.ChapterName" />
    </div>

    <div class="div-Table">

        <div>
            <div>
                <b> Subject</b>
            </div>
            <div>
                @ViewBag.SubjectName
            </div>
        </div>

        <div>
            <div>
                <b>Chapter / Exercise</b>
            </div>
            <div>
                @ViewBag.ChapterName
            </div>
        </div>

        <div>
            <div>
                @*Content(s)*@
                @*You Tube Url*@
                <b>Video</b>
            </div>
            <div>
                @*<input type="file" id="ContentFile" name="ContentFile" multiple="multiple" />*@
                <input type="file" id="ContentFile" name="ContentFile" accept=".mp4" value="@Model.VideoFileName" />
                @*@Html.TextBox("youTubeUrl", "")*@
            </div>
        </div>

        <div>
            <div>
                <b>Pdf Document</b>
            </div>
            <div>

                <input type="file" id="PdfFile" name="PdfFile" accept=".pdf" value="@Model.PdfDocFile" />

            </div>
        </div>


        <div>
            <div></div>
            <div>
                @*<span style="font-size:11px; color:red">(5 files at a time of size max 8 MB...)</span>*@
            </div>
        </div>

        <div>
            <div>

                <b> Question Text</b>
            </div>
            <div>
                @*<input type="file" id="ContentFile" name="ContentFile" multiple="multiple" />*@

                @Html.TextArea("questionText", new { @rows = "5", @cols = "60", @class = "hidden" })

                <div id="questionTextSummerNote" class="summernote">
                    @Model.QuestionText
                </div>

            </div>
        </div>
        <div>
            <div>
                <b>Is Free Downable</b>
            </div>
            <div>
                @Html.RadioButton("Isfree", true) Yes
                @Html.RadioButton("Isfree", false, isChecked: true) No
            </div>
        </div>
        @if (ViewBag.SubjectType == "1" || ViewBag.SubjectType == "4" || ViewBag.SubjectType == "5" || ViewBag.SubjectType == "8")
        {
            <div>
                <div>
                    <b>Paper Year</b>
                </div>
                <div>
                    <input type="text" name="PaperYear" value="@Model.PaperYear" />

                </div>
            </div>
            <div>
                <div>
                    <b>Variant</b>
                </div>
                <div>
                    <input type="text" name="QuestionDiagram" value="@Model.ImageFileName" />

                </div>
            </div>
        }
        else if (ViewBag.SubjectType == "2")
        {
            <div>
                <div>
                    <b>Topic Heading</b>
                </div>
                <div>
                    <input type="text" name="PaperYear" value="@Model.PaperYear" />
                </div>
            </div>
        }
        else if (ViewBag.SubjectType == "6")
        {
            <div>
                <div>
                    <b>SAT Topic Heading</b>
                </div>
                <div>
                    <input type="text" name="PaperYear" value="@Model.PaperYear" />
                </div>
            </div>
        }
        else if (ViewBag.SubjectType == "7")
        {
            <div>
                <div>
                    <b>CSS Topic Heading</b>
                </div>
                <div>
                    <input type="text" name="PaperYear" value="@Model.PaperYear" />
                </div>
            </div>
        }
    </div>

    <div style="float:left; padding-right:5px;">
        <input type="submit" value="Load Content(s)" id="btnSave" class="btn btn-primary" style="width:140px;" />
    </div>
    <div>
        <input type="button" value="Back" class="btn btn-primary" style="width:140px;" onclick="location.href='@Url.Action("Index","Admin")'" />
    </div>

</form>

